################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prototype/Prototype/bin/Debug/net9.0
/Prototype/Prototype/.vs/Prototype
