@page "/"

<PageTitle>Home</PageTitle>

<div class="text-neutral-200 font-semibold h-screen flex items-center justify-center">
        <b>1.21.3 Update Summary</b>
        <hr />
        HomeworkSMP is now on 1.21.3!

        Changes:
        Geyser Updates
        Updated the following plugins
        Spark
        ViaVersion & family
        TAB
        MiniMotD
        FreedomChat
        Luckperms
        DiscordSRV
        Drivebackup
        Github Org!
        We now have a Github Organization! We will (at least I will) be using this for issue tracking and contributing to the HomeworkSMP website.
        Issue tracking?
        Yes, issue tracking. If you encounter an issue on the server, you can open an issue at https://github.com/HomeworkSMP/server to have it resolved.
        Website?
        Yes, we have a website*! While it's still not functional, I was hoping we could all contribute to it to make it something we all like. Feel free to contribute at https://github.com/HomeworkSMP/website/.
        Joining the Org
        I have already invited members that are more active on the server, but if you would also like to contribute, please do not hesitate to let me know, whether in the server or DMs.

        Anyways, have a great time on HomeworkSMP!

        - Acto
</div>
